<table class="table table-hover table-dark mx-auto">
    <thead>
        <tr>
            <th scope="col"> Email</th>
            <th scope="col"> Fecha de creación </th>
        </tr>
    </thead>

    <tbody>
        {{#each users}}
        <tr>
            <td> {{email}} </td>
            <td> {{date}} </td>
        </tr>
        {{/each}}
    </tbody>

</table>